FINDINGS_DIR=~/stock-explorer-agent/findings
SMTP_HOST=smtp.xxx.net
SMTP_PORT=587
SMTP_USER=mylogin
SMTP_PASSWORD=mypassword
SMTP_SECURITY=starttls
MAIL_FROM=myemail
MAIL_TO=user1@gmai.com,user2@gmail.com
